# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# Environment variables
.env

# Django
db.sqlite3

# OS
.DS_Store
Thumbs.db

fuel_stations.json
fuel-prices-for-be-assessment.csv
fuel_stations.csv
data/

logs/
